<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Google Drive</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gsheet</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gsheet.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google spreadsheet</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gform</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gform.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google form</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gdoc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gdoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gslides</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gslides.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google presentation</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gdraw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gdraw.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google drawing</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gtable</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gtable.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google table</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>glink</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>glink.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Drive link</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gscript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gscript.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google script</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gnote</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gnote.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Keep note</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Google Drive</string>
	<key>CFBundleIconFile</key>
	<string>sync.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.GoogleDrive</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Google Drive</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.13.5782.0599</string>
	<key>LSEnvironment</key>
	<dict>
		<key>TCMALLOC_SKIP_SBRK</key>
		<string>true</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Google Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<false/>
		<key>argv_emulation</key>
		<false/>
		<key>emulate_shell_environment</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>optimize</key>
		<integer>2</integer>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<false/>
		<key>use_pythonpath</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array>
	</array>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/2.7/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/Users/builder/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python</string>
		<key>PythonLongVersion</key>
		<string>2.7.3 (default, Jun 12 2013, 16:55:28) 
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)]</string>
		<key>PythonShortVersion</key>
		<string>2.7</string>
		<key>py2app</key>
		<dict>
			<key>alias</key>
			<false/>
			<key>template</key>
			<string>app</string>
			<key>version</key>
			<string>0.7.2</string>
		</dict>
	</dict>
</dict>
</plist>
